@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

button{
  cursor: pointer;
}

.glass-nav {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem; /* 16px */
}

.btn-gradient {
  background-image: linear-gradient(to right, #6366f1, #8b5cf6, #ec4899);
  background-size: 200% auto;
}

.btn-gradient:hover {
  background-position: right center;
}
